@model A7407630_HW2.Models.DeleteExpenseModel

@{
    ViewBag.Title = "查詢酒櫃紀錄";
}

@* 從Model中取出酒的種類陣列，據以建立酒的種類下拉式選項清單物件 *@
@{
    List<SelectListItem> delTypeListItems = new List<SelectListItem>();
    foreach (string k in Model.delTypeList)
    {
        delTypeListItems.Add(new SelectListItem { Text = k });
    }
}

<div align="center" style="font-family:標楷體">
    <br />
    <b class="label label-danger" style="font-size:x-large">刪除酒櫃紀錄操作介面</b>
    <br />
    <br />

    @*建立刪除酒櫃紀錄表單*@
    @using (Html.BeginForm("DeleteExpenseIndex", "Drink", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.delDrink, new { @class = "label label-primary" })
                </td>
                <td>
                    @Html.DropDownListFor(m => m.delDrink, delTypeListItems, "選擇酒的種類", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.delDrink, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.delYear, new { @class = "label label-primary label-lg" })
                </td>
                <td>
                    @Html.EditorFor(m => m.delYear)
                    @Html.ValidationMessageFor(m => m.delYear, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
        <br />
        <input type="submit" name="btnSend" value="刪除酒櫃紀錄" class="btn btn-success">
        <br />
        if (TempData["Delete"] == null)
        {
            @Html.TextArea("Result", null, 10, 100, htmlAttributes: new { style = "width: 50%; max-width: 100%;" })
        }
        else
        {
            @Html.TextArea("Result", TempData["Delete"].ToString(), 10, 100, htmlAttributes: new { style = "width: 50%; max-width: 100%;" })
        }
        <br />
        @Html.ActionLink("儲存消費紀錄頁面", "SaveExpenseIndex", "Drink", null, new { @class = "btn btn-success btn-sm" }) <span>&nbsp;</span>
        @Html.ActionLink("查詢消費紀錄頁面", "QueryExpenseIndex", "Drink", null, new { @class = "btn btn-success btn-sm" }) <span>&nbsp;</span>
        @Html.ActionLink("管理消費種類頁面", "ManageExpenseTypeIndex", "Drink", null, new { @class = "btn btn-success btn-sm" })
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}